@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xl: 87.5rem;
  --breakpoint-lg: 71.8rem;
  --breakpoint-md: 47.9rem;
  --breakpoint-sm: 39.9rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant light (&:where(.light, .light *));
